/* COMMON STYLES */

/* reset css */
* {
	margin: 0px;
	padding: 0px;
}

/* html, body styles */
html,body {
	overflow-x: hidden;
}

body {
	overflow-y: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 28px;
}
/* link styles */
body a {
	text-decoration: none !important;
}
		
/* image styles */
body img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

/* container styles */
.container {
	width: 1170px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

/*	HEADER	*/
header {
	background: url("../img/banner.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 400px 0 400px 0;
	min-height: 100%;
}
/*	NAVIGATION	*/
nav {
	width: 100%;
	background-color: #fff;
	height: 100px;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
}
.nav-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
nav a {
	list-style-type: none;
	color: black;
	font-weight: 500;
	transition: all 0.2s linear 0s;
}
nav a:hover {
	color: #542344;
	font-size: 25px;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-right: 70px;
}
.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.names-text {	
	font-family: 'Great Vibes', cursive;
	font-size: 1.8em;
	color: #fff;
}
.names-text::before {
    content: "";
    width: 33px;
    display: block;
    height: 3px;
    background-color: #fff;
    position: relative;
    left: -55px;
    top: 12px;
}
.names-text::after {
    content: "";
    width: 33px;
    display: block;
    height: 3px;
    background-color: #fff;
    position: relative;
    left: 300px;
    top: -18px;
}
.central-text {
    font-size: 2.2em;
    text-transform: uppercase;
    padding-top: 58px;
    color: #fff;
}
.date-text {
	color: #fff;
	font-size: 0.8em;
	margin-top: 52px;
}
.invitation-button {
	margin-top: 40px;
}
.invitation-button a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 212px;
	height: 42px;
	font-size: 19px;
	border-radius: 2em;
	border: solid 1px #906F8D;
	color: #fff;
	background-color: #542344;
	transition: all 0.4s ease-out;
}
.invitation-button a:hover {
	font-size: 25px;
	background-color: #906F8D;
}
footer {
	background-color: #3D2B3D;
	height: 52px;
}
.footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.copyrigth {
	color: #fff;
	font-size: 0.8em;
}
.copyrigth a {
	color: #fff;
	cursor: pointer;
}
.social-icons {
	display: flex;
	width: 10%;
	justify-content: space-around;
	align-items: center;
}
.social-icons i {
	cursor: pointer;
	transition: all 0.4s ease-out;
}
.social-icons i:hover {
	color: #fff;
}